################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
.vs/
.vs/AMLP
.vs/AMLP/v16
.vs/AMLP/v16/.suo
*cache
*.csproj
*.pdb
*.dll
*.sln
*.sqlite
*.config

AMLP/bin/
AMLP/obj/

AMLP/Areas/People/obj/
AMLP/Areas/People/obj/Debug
AMLP/Areas/Portfolio/obj/
AMLP/Areas/Portfolio/obj/Debug
AMLP/Areas/Setting/obj/
AMLP/Areas/Setting/obj/Debug
AMLP/Areas/Txnmonitoring/obj/
AMLP/Areas/Txnmonitoring/obj/Debug
AMLP/Areas/UserAccess/obj/
AMLP/Areas/UserAccess/obj/Debug
AMLP/Areas/Watchlist/obj/
AMLP/Areas/Watchlist/obj/Debug


QueryManager/AdminQueryManager/obj/
QueryManager/PortfolioQueryManager/obj/
QueryManager/PowerQueryManager/obj/
QueryManager/SettingQueryManager/obj/